.contenedor-bordes-metalicos {
    padding:5px;
    height: 100px;
    background-image: url("../assets/bordemetal.jpg"); 
    border-radius: 20px;
}

.contenedor-fondo-metalico {
    height: 100%;
    width: auto;
    background-image: url("../assets/fondometal.jpg"); 
    border-radius: 20px;
}

.dropdown-menu {
    background-image: url("../assets/fondometal.jpg"); 
}

.nav-link {
    color:rgb(0, 0, 0) !important;
    font-size: 28px;
}